#question-id {
    border: 0;
    margin: 10px;
    padding: 0.2rem 0.2rem 0.2rem;
    border-radius: 8px;
    width: 50%;
    background: rgb(179, 243, 218);
    font-size: 15px;
}

.chkbox {
    border: 10px;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
}

span {
    border: 0;
    margin: 10px;
    padding: 0.2rem 0.2rem 0.2rem;
    border-radius: 8px;
    width: 50%;
    background: rgb(179, 243, 218);
    font-size: 15px;
    display: -webkit-inline-box;
}

input {
    width: 85px;
    margin: 2rem;
    border-radius: 8px;
    background: rgb(45, 29, 136);
    color: rgb(255, 253, 253);
    font-weight: bold;
}

table {
    margin-right: auto;
}

#div-body {
    width: 600px;
    height: 400px;
    margin: 2rem;
    border-radius: 8px;
    background: rgb(246, 242, 242);
}

#div-btn,
#div-head {
    width: 600px;
    margin: 2rem;
    border-radius: 8px;
    background: rgb(246, 242, 242);
}