#question-id {
    border: 0;
    margin: 10px;
    padding: 0.2rem 0.2rem 0.2rem;
    border-radius: 8px;
    width: 50%;
    background: rgb(179, 243, 218);
    font-size: 15px;
}

.chkbox {
    border: 10px;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
}

span {
    border: 0;
    margin: 10px;
    padding: 0.2rem 0.2rem 0.2rem;
    border-radius: 8px;
    width: 50%;
    /* background: rgb(179, 243, 218); */
    font-size: 15px;
    display: -webkit-inline-box;
}

#player {
    background-color: #dad7d4;
    border: 0px solid;
    text-shadow: #dad7d4;
    text-align: center;
    color: #b60fcc;
    font-weight: bold;
    font-size: 15px;
}

div>input {
    width: 80px;
    margin: 1rem;
    border-radius: 8px;
    background: #304fa1;
    color: rgb(255, 253, 253);
    font-weight: bold;
}

#div-body {
    width: 600px;
    height: fit-content;
    margin: 0.2rem 2rem 2rem 2rem;
    border-radius: 8px;
    background: rgb(246, 242, 242);
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    border: 0;
    border-radius: 8px;
    background-color: rgb(246, 242, 242);
    max-height: 100px;
    text-align: center;
}

.wrapper>div {
    border: 0;
    border-radius: 8px;
    background-color: #dad7d4;
    padding: 0;
    color: #0a42dd;
    max-height: 100px;
}

#div-head {
    width: 600px;
    margin: 2rem 2rem 0.1rem 2rem;
    border-radius: 8px;
    background: rgb(246, 242, 242);
    text-align: center;
    color: #0a42dd;
}

#div-btn {
    width: 600px;
    margin: .022rem;
    border-radius: 8px;
    background: rgb(246, 242, 242);
    text-align: center;
}