#question-id {
    border: 0;
    margin: 10px;
    padding: 0.2rem 0.2rem 0.2rem;
    border-radius: 8px;
    width: 50%;
    background: rgb(179, 243, 218);
    font-size: 15px;
}

.chkbox {
    border: 10px;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
}

span {
    border: 0;
    margin: 10px;
    padding: 0.2rem 0.2rem 0.2rem;
    border-radius: 8px;
    width: 50%;
    background: rgb(179, 243, 218);
    font-size: 15px;
    display: -webkit-inline-box;
}

input {
    width: 85px;
    margin: 2rem;
    border-radius: 8px;
    background: rgb(45, 29, 136);
    color: rgb(255, 253, 253);
    font-weight: bold;
}

table {
    margin-right: auto;
}

#div-body {
    width: 600px;
    height: fit-content;
    margin: 2rem;
    border-radius: 8px;
    background: rgb(246, 242, 242);
}


/* .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.box1 {
    grid-column-start: 1;
    grid-column-end: 1;
}

.box2 {
    grid-column-start: 2;
    grid-column-end: 2;
}

.box3 {
    grid-column-start: 3;
    grid-column-end: 3;
} */

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    border: 0;
    border-radius: 8px;
    background-color: rgb(246, 242, 242);
    max-height: 100px;
}

.wrapper>div {
    border: 0;
    border-radius: 8px;
    background-color: #dad7d4;
    padding: 0;
    color: #0f0f0f;
    max-height: 100px;
}

#div-btn,
#div-head {
    width: 600px;
    margin: 2rem;
    border-radius: 8px;
    background: rgb(246, 242, 242);
}